extends layout

block content
  #page-content-wrapper
    .page-content.inset
      .row
        a#menu-toggle.btn.btn-default(href='#')
          i.fa.fa-bars
        .col-md-12
          h1 Say something meaningful here.
          p.lead Say something worthwhile here.
          a(href="/") Go home
          br
          if (auth_method === 'local')
            h2 Local Auth
            if (!user)
              a(href="/local/login") Login
              br
              a(href="/local/register") Register
            if (user)
              p You are currently logged in as #{user.username}
              a(href="/local/logout") Logout
            br
          if (auth_method === 'social')
            h2 Social Auth
            br
            a(href="/auth/google") Login via Google
            br
            a(href="/auth/facebook") Login via Facebook
            br
            a(href="/auth/twitter") Login via Twitter
            br
            a(href="/auth/github") Login via Github